
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Justified Nav Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://localhost:8080/personal/CSS/reset.css" type="text/css">
    <link rel="stylesheet" href="http://localhost:8080/personal/CSS/style.css" type="text/css">
   	<link rel="stylesheet" href="http://localhost:8080/personal/CSS/bootstrap.css" type="text/css">

  <style>
  	body {
				width: 100%;
				height: auto;
				align-content: center;
				background: url("http://localhost:8080/personal/img/timg.jpg") no-repeat left top;
				background-size: 100%;
			}
			
		.row{
		color:whitesmoke;
		}
  </style>
  </head>

  <body>

    <div  id="cccc" class="container">

      <div class="masthead">
        <h3 id="hnickname" class="text-muted"></h3>

        <nav id="sss" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div  id="brand"  class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="brands"  class="navbar-brand" href="http://localhost:8080/personal/VIEWS/home_page.html">Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
        <li><a href="#">Questions</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">做点什么吧<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:8080/personal/VIEWS/write.html">写日常</a></li>
            <li><a href="http://localhost:8080/personal/VIEWS/showAll.html">查看全部</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="https://www.baidu.com/">有问题 找百度</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://weibo.com/">新浪微博</a></li>
          </ul>
        </li>
      </ul>
       <form class="navbar-form navbar-left">
        <div class="form-group">
          <input  id="shuru" type="text" class="form-control" placeholder="Search" />
          
        </div>
        <button  id="chaxun" type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账户<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:8080/personal/VIEWS/NotifyInfo.html">个人信息 </a></li>
   
            <li><button id="out">退出</button></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://localhost:8080/personal/VIEWS/zhuce.html">在注册个新号吧</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>好好学习！天天向上！</h1>
        <p class="lead">The unexamined life is not worth living. So wirte something?</p>
        <p><a id="getStarted" class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4" id="col-1">
          <h2  id="h2head1"></h2>
          <p   id="phead1" > </p>
          <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
 查看所有
</button></p>
        </div>
        <div class="col-lg-4" id="col-2">
          <h2 id="h2head2"></h2>
          <p  id="phead2"></p>
          <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">
  查看所有
</button></p>
       </div>
        <div class="col-lg-4" id="col-3">
          <h2 id="h2head3"></h2>
          <p id="phead3"></p>
          <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal3">
   查看所有
            </button></p>
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->



<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title1"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body1">  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <div class="l-wrapper" style="width: 100%;height: 100%;background-color: #000000;">


  <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="circle" class="g-circles g-circles--v3">
          <circle id="12" transform="translate(35, 16.698730) rotate(-30) translate(-35, -16.698730) " cx="35" cy="16.6987298" r="10"></circle>
          <circle id="11" transform="translate(16.698730, 35) rotate(-60) translate(-16.698730, -35) " cx="16.6987298" cy="35" r="10"></circle>
          <circle id="10" transform="translate(10, 60) rotate(-90) translate(-10, -60) " cx="10" cy="60" r="10"></circle>
          <circle id="9" transform="translate(16.698730, 85) rotate(-120) translate(-16.698730, -85) " cx="16.6987298" cy="85" r="10"></circle>
          <circle id="8" transform="translate(35, 103.301270) rotate(-150) translate(-35, -103.301270) " cx="35" cy="103.30127" r="10"></circle>
          <circle id="7" cx="60" cy="110" r="10"></circle>
          <circle id="6" transform="translate(85, 103.301270) rotate(-30) translate(-85, -103.301270) " cx="85" cy="103.30127" r="10"></circle>
          <circle id="5" transform="translate(103.301270, 85) rotate(-60) translate(-103.301270, -85) " cx="103.30127" cy="85" r="10"></circle>
          <circle id="4" transform="translate(110, 60) rotate(-90) translate(-110, -60) " cx="110" cy="60" r="10"></circle>
          <circle id="3" transform="translate(103.301270, 35) rotate(-120) translate(-103.301270, -35) " cx="103.30127" cy="35" r="10"></circle>
          <circle id="2" transform="translate(85, 16.698730) rotate(-150) translate(-85, -16.698730) " cx="85" cy="16.6987298" r="10"></circle>
          <circle id="1" cx="60" cy="10" r="10"></circle>
      </g>
  </svg>


</div>
 <!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title2"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body2">  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title3"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body3">  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>   


   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
   
  	<script type="text/javascript" src="http://localhost:8080/personal/JS/jquery.min.js"></script>
    <script src="http://localhost:8080/personal/JS/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="http://localhost:8080/personal/JS/bootstrap.min.js"></script>

          <script src="http://localhost:8080/personal/JS/home_page.js"></script>
      <script src="http://localhost:8080/personal/JS/selectMohuh.js"></script>
      <script src="http://localhost:8080/personal/JS/loginout.js"></script>
       <script src="http://localhost:8080/personal/JS/getStart.js"></script>
  </body>
</html>