
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>你の日常</title>

    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://localhost:8080/personal/CSS/bootstrap.css" type="text/css">

  <style>
  	body {
				width: 100%;
				height: auto;
				align-content: center;
				background:url("http://localhost:8080/personal/img/timg.jpg") no-repeat left top;
				background-size: 100%;
			}
			
			
		
  </style>
  </head>

  <body>

    <div class="container">

      <div class="masthead">
           <h3 id="hnickname" class="text-muted"></h3>

        <nav id="sss" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div  id="brand"  class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="brands"  class="navbar-brand" href="http://localhost:8080/personal/VIEWS/home_page.html">博客</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
        <li><a href="#">Questions</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">做点什么吧<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:8080/personal/VIEWS/write.html">写日常</a></li>
            <li><a href="http://localhost:8080/personal/VIEWS/showAll.html">查看所有日常</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="https://www.baidu.com/">百度</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://weibo.com/">新浪微博</a></li>
          </ul>
        </li>
      </ul>
       <form class="navbar-form navbar-left">
        <div class="form-group">
          <input  id="shuru" type="text" class="form-control" placeholder="Search" />
          
        </div>
        <button  id="chaxun" type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账户<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:8080/personal/VIEWS/NotifyInfo.html">个人信息 </a></li>
         
            <li><a href="#">退出</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://localhost:8080/personal/VIEWS/zhuce.html">再注册个新号</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron" id="write_div" >
       	<div class="input-group input-group-lg" >
			  <span class="input-group-addon">标题：</span>
			  <input  id="input_title" type="text" class="form-control" placeholder="请输入标题">
		    </div>
        <div id="summernote"></div>
        <button id="tijiao" type="button" class="btn btn-primary"> 完成</button>
      </div>


      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
   
  	<script type="text/javascript" src="http://localhost:8080/personal/JS/jquery.min.js"></script>
    <script src="http://localhost:8080/personal/JS/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="http://localhost:8080/personal/JS/bootstrap.min.js"></script>

   <link href="http://localhost:8080/personal/CSS/summernote.css" rel="stylesheet">
  
  <script src="http://localhost:8080/personal/JS/summernote.js"></script>

   <script src="http://localhost:8080/personal/JS/write.js"></script>
     <script src="http://localhost:8080/personal/JS/selectMohuh.js"></script>
     <script src="http://localhost:8080/personal/JS/loginout.js"></script>
  </body>
</html>